section.row.center-xs.middle-xs.donations
	h5.col-xs-12 DONACIONES
	span.col-xs
	p.col-xs-12 Descubre los beneficios de colaborar</br>
		| con la cultura
	a.col-xs-12.btn-ver.btn-purple(href="#") ver +
