nav
	ul.row.middle-xs
		li#quienes.col-md
			a(href="quienes_somos.html" ) QUIENES </br>
				p SOMOS
		li#proyectos.col-md
			a(href="proyectos.html") PROYECTOS
		li#ficict.col-md
			a(href="ficict.html") FICICT
		li#fsacct.col-md
			a(href="fsacct.html") FSACCT
		li#donaciones.col-md
			a(href="donaciones.html") DONACIONES
		li#contacto.col-md
			a(href="contacto.html") CONTACTO 