section.header-content.center-xs
	header.row.center-xs.middle-xs.limiter__container
		a(href="index.html").col-md-2
			img.to-svg.logo(src="images/logo/logo-white.svg", alt="")
		div.btn-menu
			include botonmenu
		div.menu
			include __menu
		div.col-md.center-xs.row.middle-xs.icons-menu
			a(href="#" target="_blank")
				img#facebook.to-svg(src="images/icons/facebook.svg", alt="facebook")
			a(href="#" target="_blank")
				img#twitter.to-svg(src="images/icons/twitter.svg", alt="twitter")
			a(href="#" target="_blank")
				img#youtube.to-svg(src="images/icons/youtube.svg", alt="youtube")