extends _base

block content
    section.content-page
        div.row.start-xs.limiter__container.title-donations
            h3 DONACIONES
        section.donations
            div.limiter__container.row.center-xs.middle-xs
                div.col-xs-12.col-lg-6.col-md-10
                    h4 BENEFICIOS
                    p.text-donation  El Estatuto Tributario de Colombia, en su artículo 125 denominado Deducción por donaciones, contempla la deducción de impuestos de renta a personas jurídicas o naturales que realicen donaciones en efectivo o en especie, a entidades sin ánimo de lucro que promuevan la cultura y las artes. Si desea realizar donaciones a la Fundación Artística y Cultural Cacique Tundama por favor escribanos al siguiente correo
                    div.email-donations
                        p fundacionculturalctundama@gmail.com
                div.col-xs-12.col-lg-5.limiter__container
                    div.section-purple.row.center-xs
                        img.to-svg.col-xs-12(src="images/icons/money-count.svg", alt="")
                        h5.col-xs-12 NÚMERO DE CUENTA
                        h3.col-xs-12 26 258 243 829
                        h6.col-xs-12 Ahorros Bancolombia    
    include _footer