extends _base

block content
    section.content-page
        div.row.start-xs.limiter__container.title-ficict.title-responsive
            h3 FICICT
        div.black-bk.no-margin
        div.frame-content.limiter__container
            iframe(width="100%" height="500px" src="https://www.youtube.com/embed/N1bO60bu5LI?wmode=transparent&controls=0&showinfo=0&theme=light&modestbranding=1" allowfullscreen frameborder="0" controls=0)
        div.row.center-xs.between-xs.top-xs.content-ficict.limiter__container
            .col-sm-12.col-md-6
                img(src="images/afiches-2016.jpg")
            .col-sm-12.col-md-6.row.start-xs
                p La Fundación ArtisticaCultural Cacique Tundama abre la convocatoria para la V versión del Festival internacional de Cine Independiente. Como cada año hacemos una invitación a todos los realizadores audiovisuales independientes del mundo a que hagan parte de esta gran fiesta.

                strong.col-xs-12 INSCRÍBETE ACÁ
                
                div.row.start-xs.limiter__container.title-inscriptions
                    a(href="formulario.html")
                        h3 INSCRIPCIONES 2016
                p.col-xs-12 O Solicítalo al correo </br>
                strong.col-xs-12 ficictfestivaldecine@gmail.com
        div.row.start-xs.limiter__container.title-ficict.title-responsive
            h3 HISTORIA
        div.content-history.limiter__container
            p El Festival de Cine Independiente Cacique Tundama fue creado en el año 2013 por los miembros de la Fundación Artística y Cultural Cacique Tundama (FACCT). Se ha realizado de forma consecutiva durante los últimos 4 años. Sus objetivos son investigar, formar públicos y nuevos realizadores; producir, distribuir, exhibir y documentar material cinematográfico y audiovisual. Así mismo, busca incrementar la producción de Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error rerum cumque sapiente! Corporis nemo provident distinctio ex libero iusto magni, incidunt molestiae dolorum ullam cum dolor quod odit tempore dignissimos!  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et voluptatem autem dolores veritatis adipisci quo id dignissimos sed maxime, excepturi corrupti, alias velit repellat cupiditate natus recusandae earum consequuntur fugit!
        div.row.center-xs.middle-xs.title-fest-before.limiter__container
            h3 FESTIVALES ANTERIORES
        div.black-bk
            div.limiter__container.row.center-xs.middle-xs
                .col-sm-12.col-md-6.fest-content
                    img(src="images/afiches-2015.jpg")
                    h4 2015
                    a(href="") VER GANADORES
                     a.fancybox-thumb(rel="fancybox-thumb" href="images/galleries/gallery-1.png") GALERÍA
                    a.fancybox-thumb(rel="fancybox-thumb" href="images/galleries/gallery-2.png")
                    a.fancybox-thumb(rel="fancybox-thumb" href="images/galleries/gallery-3.png")
                    a.fancybox-thumb(rel="fancybox-thumb" href="images/galleries/gallery-4.png")
                    a.fancybox-thumb(rel="fancybox-thumb" href="images/galleries/gallery-5.png")
                .col-sm-12.col-md-6.fest-content
                    img(src="images/afiches-2014.jpg")
                    h4 2014
                    a(href="") VER GANADORES
                    a.fancybox-thumb(rel="fancybox-thumb" href="images/galleries/gallery-1.png") GALERÍA
                    a.fancybox-thumb(rel="fancybox-thumb" href="images/galleries/gallery-2.png")
                    a.fancybox-thumb(rel="fancybox-thumb" href="images/galleries/gallery-3.png")
                    a.fancybox-thumb(rel="fancybox-thumb" href="images/galleries/gallery-4.png")
                    a.fancybox-thumb(rel="fancybox-thumb" href="images/galleries/gallery-5.png")
            
    include __donaciones
    include _footer