extends _base

block content
    section.content-page
        div.row.start-xs.limiter__container.title-ficict.title-responsive
            h3 FSACCT
        div.black-bk.slide-content
        div.frame-slide.limiter__container
            div.row
                div.owl-carousel.owl-theme
                    div.item
                        img.img-slide(src="images/slide/slide1.jpg", alt="imagen-slide")
                    div.item
                        img.img-slide(src="images/slide/slide2.jpg", alt="imagen-slide")
                    div.item
                        img.img-slide(src="images/slide/slide3.jpg", alt="imagen-slide")
                    div.item
                        img.img-slide(src="images/slide/slide4.jpg", alt="imagen-slide")
                    div.item
                        img.img-slide(src="images/slide/slide5.jpg", alt="imagen-slide")
        div.text-fsacct.limiter__container
            p El festival de saberes artísticos y culturales Cacique Tundama nace en Duitama-Boyacá en el año 2013 como un espacio de expresiones artísticas y culturales pensado para la comunidad local y departamental en donde se reúnen artistas locales, nacionales e internacionales a compartir, exhibir, y enseñar sus conocimientos generando intercambios culturales y generacionales. Es realizado cada año por la Fundación Artística y Cultural Cacique Tundama (FACCT) en las primeras semanas del mes de Enero. Se ha convertido en un referente cultural en la ciudad de Duitama y los municipios aledaños. Cuenta con varios objetivos entre los que resaltan por su importancia los procesos de formación a partir de talleres, conversatorios de arte y cultura; presentaciones y exhibiciones de arte en donde se reúnen grupos diversos a crear, compartir y debatir en comunidad. Cada año el festival fortalece los procesos de formación para garantizar que más personas de la región aprendan y enseñen sus conocimientos, teniendo como principio fundamental la reciprocidad entre talleristas y los participantes de cada taller. Así se pueden explorar nuevas formas de enseñanza a través de la diversidad y el trabajo en grupo. También se ha enfocado en la importancia de dar a conocer y rescatar las tradiciones, saberes y cultura de los antepasados de la región. Los asistentes al festival pueden participar en diversas actividades y despertar interés por el arte. En las cuatro versiones el festival ha contado con talleres y presentaciones de: teatro, malabares, música, construcción de turues, pintura, danza contemporánea, clown, yoga, break dance, maquillaje artístico, cerámica, fotografía, agricultura urbana y familiar, creación de mandalas, stopmotion, improvisación en vivo, y diferentes expresiones artísticas y culturales.
         div.black-bk
            div.section-contact__fsacct.row.center-xs.middle-xs.limiter__container
                h5 CONTACTO
                div.line-green
                p.col-xs-12 Email: fundacionculturalctundama@gmail.com
                p.col-xs-12 
                    strong Teléfono   
                    | 4567899 - 
                    strong Dirección  
                    | Calle 5 No 15 - 35
        </br>
    include __donaciones
    include _footer
