extends _base

block content
    section.content-page
        div.row.start-xs.limiter__container.title-proyect.title-responsive
            h3 PROYECTOS
        div.row.between-xs.content-about.limiter__container
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam aliquid nesciunt molestiae quam eligendi atque cupiditate dolores quos, numquam perspiciatis veniam impedit aut animi qui voluptatum eum delectus rerum ad? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium veniam, sit commodi et fugiat dolorum rerum quod cumque quae quas blanditiis suscipit, recusandae praesentium. Praesentium quaerat totam atque. Similique, iste!</br> </br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia maxime labore cupiditate quas facilis, obcaecati in possimus sint, quibusdam totam aliquam temporibus officia autem voluptas doloremque explicabo! Cum sunt, odio?  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus placeat, eligendi earum culpa corporis eum beatae perspiciatis praesentium cumque recusandae, natus nisi accusamus dolorem quos laboriosam officia laborum! Nam, ut!
            .row.middle-xs.col-sm-12.col-md-5.section-title.title-green-1
                h5.col-xs-6 FICICT
                a.col-xs-6.end-xs(href="#") ver +
            .row.middle-xs.col-sm-12.col-md-5.section-title.title-green-2
                h5.col-xs-6 FSACCT
                a.col-xs-6.end-xs(href="#") ver +
    include __donaciones
    include _footer