extends _base

block content
    section.content-page
        div.row.start-xs.limiter__container.title-about.title-responsive
            h3 QUIÉNES SOMOS
        div.content-about.limiter__container
            p La Fundación Artística y Cultural Cacique Tundama (FACCT) es una entidad sin ánimo de lucro dirigida por cineastas, investigadores sociales, músicos, pedagogos y creativos transmedia que orientan sus esfuerzos en la capacidad de abrir espacios de dinamización y fortalecimiento del campo artístico y cultural en el país. Busca por medio de diferentes acciones artísticas y culturales incentivar a la comunidad en general a participar abiertamente en procesos de formación artística, exhibición de muestras artísticas y culturales, e investigación y creación de nuevos lenguajes artísticos, emprendiendo una etapa de conocimiento en donde consideramos que la reciprocidad entre maestro y estudiante es la mejor forma de crear y aprender. Para esto la fundación realiza conversatorios, talleres y diferentes eventos culturales de música, teatro, títeres, danza, cine, fotografía, pintura, arte terapia y en general, todas aquellas actividades que estén orientadas al ámbito artístico y cultural.
        div.section-team.limiter__container.row.center-xs
            img.to-svg(src="images/about.svg", alt="")
            div#profile-1.col-xs-12.col-md-10.profile.row.middle-xs
                div.col-xs-12.col-md-4
                    img(src="images/team1.png", alt="")
                div.col-xs-12.col-md-8.row
                    h3.col-xs-12 JUALIAN BENAVIDEZ
                    h4.col-xs-8 DIRECTOR Y REPRESENTANTE LEGAL
                    p Compositor boyacense, nacido en el año de 1986. Su música se define por una fuerte inclinación hacia la exploración y la experimentación con el sonido como materia prima. Uno de sus mayores intereses es la búsqueda y generación de espacios sonoros que recorran las múltiples dimensiones que el sonido pueda tomar. Es miembro activo del ensamble de improvisación libre y música experimental "TTP" Sus obras han sido estrenadas en Colombia, México, Argentina y Uruguay. En el ámbito popular se ha desarrollado como compositor e intérprete del proyecto de electrónica experimental "Irissintética", con el cual ha grabado 3 discos; y del grupo de cool jazz y electrónica fusión "ParanOidos", con el que ha girado por diferentes países de latinoamérica y editado su primer disco en la ciudad de Buenos Aires, lugar donde también curso sus estudios de maestría en creación musical y nuevas tecnologías en la universidad Nacional Tres de Febrero. En el año 2014 fue becario del programa intergubernamental IBERMUSICAS labor que realizo en los estudios del CMMAS en Morelia, México. Actualmente se desenvuelve como embajador del proyecto Piensa en grande de la Fundación Telefónica de España y La ONG chilena SOCIALAB y mantiene la dirección de varios proyectos tanto académicos como musicales.
            div#profile-2.col-xs-12.col-md-10.profile.row.middle-xs.active
                div.col-xs-12.col-md-4
                    img(src="images/team1.png", alt="")
                div.col-xs-12.col-md-8.row
                    h3.col-xs-12 CAMILO BUENDIA
                    h4.col-xs-8  ASESOR
                    p Compositor boyacense, nacido en el año de 1986. Su música se define por una fuerte inclinación hacia la exploración y la experimentación con el sonido como materia prima. Uno de sus mayores intereses es la búsqueda y generación de espacios sonoros que recorran las múltiples dimensiones que el sonido pueda tomar. Es miembro activo del ensamble de improvisación libre y música experimental "TTP" Sus obras han sido estrenadas en Colombia, México, Argentina y Uruguay. En el ámbito popular se ha desarrollado como compositor e intérprete del proyecto de electrónica experimental "Irissintética", con el cual ha grabado 3 discos; y del grupo de cool jazz y electrónica fusión "ParanOidos", con el que ha girado por diferentes países de latinoamérica y editado su primer disco en la ciudad de Buenos Aires, lugar donde también curso sus estudios de maestría en creación musical y nuevas tecnologías en la universidad Nacional Tres de Febrero. En el año 2014 fue becario del programa intergubernamental IBERMUSICAS labor que realizo en los estudios del CMMAS en Morelia, México. Actualmente se desenvuelve como embajador del proyecto Piensa en grande de la Fundación Telefónica de España y La ONG chilena SOCIALAB y mantiene la dirección de varios proyectos tanto académicos como musicales.
    include __donaciones
    include _footer