
<nav>
  <ul class="row middle-xs">
    <li id="quienes" class="col-md"><a href="quienes_somos.html">QUIENES </br>
        <p>SOMOS</p></a></li>
    <li id="proyectos" class="col-md"><a href="proyectos.html">PROYECTOS</a></li>
    <li id="ficict" class="col-md"><a href="ficict.html">FICICT</a></li>
    <li id="fsacct" class="col-md"><a href="fsacct.html">FSACCT</a></li>
    <li id="donaciones" class="col-md"><a href="donaciones.html">DONACIONES</a></li>
    <li id="contacto" class="col-md"><a href="contacto.html">CONTACTO </a></li>
  </ul>
</nav>